name: Daily Production Deployment

on:
  schedule:
    # 3:00 PM Pakistan Time (UTC+5) = 10:00 UTC
    - cron: "15 10 * * *"
  workflow_dispatch:

concurrency:
  group: koyeb-prod
  cancel-in-progress: false

jobs:
  deploy:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      
      - name: Deploy to Koyeb
        uses: koyeb/action-git-deploy@v1
        with:
          app-name: new-app
          token: ${{ secrets.KOYEB_TOKEN }}
